.background{
    background-image: url("./images/header.jpg");
    background-position: center;
    height: 100vh;
    background-size: cover;

}
.background-all{
    background-color: #365486;
}
.text{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.pro{
    text-decoration: underline;
    margin: 5px;
    color: #7FC7D9;
}
.color-me{
    color: aliceblue;
}
h4{
    color:aliceblue;
}
h1,p,a{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
.port-background{
    background-image: url('./images/galaxy.jpg');

}

.navbarScroll.navbarDark {
    background-color: black;
}

#footer{
    background-color: #365486;
    text-align: center;
}
/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */



